body {
  background: #373B44;
}

.posi-rel {
  position: relative;
}
.textalign-end {
  text-align: end;
}
.bg-listbl {
  background-color: lightsteelblue;
}
.fa-sun {
  color: #fff;
}
.m-0 {
  margin: 0 !important;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-title {
  color: #fff;
}
.container-result {
  width: 240px;
  height: 70px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid #3c4043;
  background-color: #202124;
}
#exResult {
  margin: 5px 10px;
  text-align: right;
  height: 20px;
  font-size: 15px;
  color: #919191;
}
#outputResult {
  margin: 5px;
  color: #fff;
  border-radius: 15px;
  text-align: right;
  font-size: 30px;
}
.container-list {
  background-color: #fff;
  width: 240px;
  border-radius: 10px;
}
.btn-item {
  width: 50px;
  height: 50px;
  margin: 5px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.disabilities {
  opacity: 0.5 !important;
  cursor: auto !important;
}
.tick-mark {
  position: absolute;
  top: 0;
  left: 33%;
}
.dash {
  position: absolute;
  top: 4%;
}
/* .empty {
  background-color: #fff;
  box-shadow: none !important;
  border: none !important;
  cursor: default !important;
} */
.btn-item:hover {
  opacity: 0.7;
}
.bg-btn {
  background-color: #41e7a2;
}
.result {
  background-color: #8ab4f8;
}
.btn-theme {
  padding: 7px;
  font-size: 25px;
}
